In [2]:
import pandas as pd

In [12]:
df=pd.read_csv("Donation_data.csv").dropna(axis=1,thresh=4)
df

,Party,Name,Type,Address,PAN Given,Amount,Contribution Mode,Financial Year
0,CPI,Aziz Pasha,Others,"16-B, Ferozeshah Road New Delhi-1",Y,"₹ 3,000,000.00",CASH,2010-11
1,CPI(M),V K Ramachandran,Others,"No.1, First Floor Main Road Domlur Second Stag...",Y,"₹ 10,000,000.00","000037, HDFC Bank Bengaluru, Dt. 16.03.2015, 5...",2014-15
2,INC,Dr. Manmohan Singh,Others,"3, Motilal Nehru Place New Delhi",N,"₹ 108,000.00","Cheque, State Bank of India Parliament House N...",2014-15
3,INC,Dr. Manda Jagnathan,Others,"9,Firozshah Road New Delhi",N,"₹ 54,000.00",Through Bank Transfer,2011-12
4,INC,Prof. K.V.Thomas,Others,"17,Dr.B.R.Mehta Lane New Delhi",N,"₹ 54,000.00",Through Bank Transfer,2011-12
...,...,...,...,...,...,...,...,...
13568,BJP,Zydus Healthcare,Others,"Zydus Tower, Satellite Cross Road, Ahmedabad-3...",Y,"₹ 1,000,000.00","854, HDFC Bank",2014-15
13569,BJP,Zydus Wellness Limited,Others,"Zydaus Towere, Satellite Cross Roads, Ahmedaba...",Y,"₹ 5,000,000.00",250506BANK OF BARODA,2010-11
13570,BJP,Zydus Wellness Limited,Others,"Zydus Tower, Satellite Cross Roads, Ahmedabad",Y,"₹ 5,000,000.00",250507BANK OF BARODA,2010-11
13571,BJP,Zydus Wellness Limited,Others,"Zydus Wellneww Ltd, Zydus Tower Satellite Cros...",Y,"₹ 10,000,000.00","901983, Bank of Baroda",2012-13
13572,NCP,Zydus Wellness -Sikkim,Others,"Plot No- 26, 27, 28, 30 & 37 Mamring Block, Di...",Y,"₹ 10,000,000.00","Ch No- 170996, Date 31-03-2014, Bank Of Baroda...",2013-14

In [14]:
df["Amount_number"]=float(df.loc[0,"Amount"].split("₹")[1].strip().replace(',',''))

In [15]:
df["Amount_number"]=df["Amount"].apply(lambda a:float(a.split("₹")[1].strip().replace(',','')))

In [16]:
df

,Party,Name,Type,Address,PAN Given,Amount,Contribution Mode,Financial Year,Amount_number
0,CPI,Aziz Pasha,Others,"16-B, Ferozeshah Road New Delhi-1",Y,"₹ 3,000,000.00",CASH,2010-11,3000000.0
1,CPI(M),V K Ramachandran,Others,"No.1, First Floor Main Road Domlur Second Stag...",Y,"₹ 10,000,000.00","000037, HDFC Bank Bengaluru, Dt. 16.03.2015, 5...",2014-15,10000000.0
2,INC,Dr. Manmohan Singh,Others,"3, Motilal Nehru Place New Delhi",N,"₹ 108,000.00","Cheque, State Bank of India Parliament House N...",2014-15,108000.0
3,INC,Dr. Manda Jagnathan,Others,"9,Firozshah Road New Delhi",N,"₹ 54,000.00",Through Bank Transfer,2011-12,54000.0
4,INC,Prof. K.V.Thomas,Others,"17,Dr.B.R.Mehta Lane New Delhi",N,"₹ 54,000.00",Through Bank Transfer,2011-12,54000.0
...,...,...,...,...,...,...,...,...,...
13568,BJP,Zydus Healthcare,Others,"Zydus Tower, Satellite Cross Road, Ahmedabad-3...",Y,"₹ 1,000,000.00","854, HDFC Bank",2014-15,1000000.0
13569,BJP,Zydus Wellness Limited,Others,"Zydaus Towere, Satellite Cross Roads, Ahmedaba...",Y,"₹ 5,000,000.00",250506BANK OF BARODA,2010-11,5000000.0
13570,BJP,Zydus Wellness Limited,Others,"Zydus Tower, Satellite Cross Roads, Ahmedabad",Y,"₹ 5,000,000.00",250507BANK OF BARODA,2010-11,5000000.0
13571,BJP,Zydus Wellness Limited,Others,"Zydus Wellneww Ltd, Zydus Tower Satellite Cros...",Y,"₹ 10,000,000.00","901983, Bank of Baroda",2012-13,10000000.0
13572,NCP,Zydus Wellness -Sikkim,Others,"Plot No- 26, 27, 28, 30 & 37 Mamring Block, Di...",Y,"₹ 10,000,000.00","Ch No- 170996, Date 31-03-2014, Bank Of Baroda...",2013-14,10000000.0

In [17]:
df["Amount_number"].max()

500000000.0

In [18]:
df["Amount"].max()

' ₹  990,000.00 '

In [50]:
top_10_donator=df.sort_values("Amount_number",ascending=False).head(10)
top_10_donator

,Party,Name,Type,Address,PAN Given,Amount,Contribution Mode,Financial Year,Amount_number
3095,BJP,General Electoral Trust,Electoral Trust,--,N,"₹ 500,000,000.00","9, HDFC Bank",2014-15,500000000.0
3138,INC,General Electoral Trust,Electoral Trust,"B-4, Aditya Birla Centre S.K. Ahire Marg Worli...",N,"₹ 500,000,000.00","Cheque, HDFC Bank Aditya Birla Centre S.K. Ahi...",2014-15,500000000.0
9082,BJP,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan,1 Bahadur Shah Zafar Marg Ne...",Y,"₹ 240,720,000.00","115, HDFC Bank",2013-14,240720000.0
9083,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","125, HDFC Bank",2014-15,200000000.0
9085,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","149, HDFC Bank",2014-15,200000000.0
9084,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","147, HDFC Bank",2014-15,200000000.0
9099,INC,Satya Electoral Trust,Electoral Trust,"G-15 Hans Bhawan, 1-Bahadurshah Zafar Marg, Ne...",N,"₹ 180,000,000.00","Ch.No.000114, Dated.26.03.2014, HDFC Bank G-3-...",2013-14,180000000.0
9100,INC,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan 1, Bahadurshah Zafar Marg, ...",Y,"₹ 167,500,000.00","Cheque, HDFC Bank, G-3-4, Surya Kiran Building...",2014-15,167500000.0
9086,BJP,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan,1 Bahadur Shah Zafar Marg Ne...",Y,"₹ 153,000,000.00","107, HDFC Bank",2013-14,153000000.0
9087,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 150,000,000.00","151, HDFC Bank",2014-15,150000000.0

In [47]:
df

,Party,Name,Type,Address,PAN Given,Amount,Contribution Mode,Financial Year,Amount_number
0,CPI,Aziz Pasha,Others,"16-B, Ferozeshah Road New Delhi-1",Y,"₹ 3,000,000.00",CASH,2010-11,3000000.0
1,CPI(M),V K Ramachandran,Others,"No.1, First Floor Main Road Domlur Second Stag...",Y,"₹ 10,000,000.00","000037, HDFC Bank Bengaluru, Dt. 16.03.2015, 5...",2014-15,10000000.0
2,INC,Dr. Manmohan Singh,Others,"3, Motilal Nehru Place New Delhi",N,"₹ 108,000.00","Cheque, State Bank of India Parliament House N...",2014-15,108000.0
3,INC,Dr. Manda Jagnathan,Others,"9,Firozshah Road New Delhi",N,"₹ 54,000.00",Through Bank Transfer,2011-12,54000.0
4,INC,Prof. K.V.Thomas,Others,"17,Dr.B.R.Mehta Lane New Delhi",N,"₹ 54,000.00",Through Bank Transfer,2011-12,54000.0
...,...,...,...,...,...,...,...,...,...
13568,BJP,Zydus Healthcare,Others,"Zydus Tower, Satellite Cross Road, Ahmedabad-3...",Y,"₹ 1,000,000.00","854, HDFC Bank",2014-15,1000000.0
13569,BJP,Zydus Wellness Limited,Others,"Zydaus Towere, Satellite Cross Roads, Ahmedaba...",Y,"₹ 5,000,000.00",250506BANK OF BARODA,2010-11,5000000.0
13570,BJP,Zydus Wellness Limited,Others,"Zydus Tower, Satellite Cross Roads, Ahmedabad",Y,"₹ 5,000,000.00",250507BANK OF BARODA,2010-11,5000000.0
13571,BJP,Zydus Wellness Limited,Others,"Zydus Wellneww Ltd, Zydus Tower Satellite Cros...",Y,"₹ 10,000,000.00","901983, Bank of Baroda",2012-13,10000000.0
13572,NCP,Zydus Wellness -Sikkim,Others,"Plot No- 26, 27, 28, 30 & 37 Mamring Block, Di...",Y,"₹ 10,000,000.00","Ch No- 170996, Date 31-03-2014, Bank Of Baroda...",2013-14,10000000.0

In [59]:
top_10_donator.reset_index().to_excel("top_10_donator.xlsx",sheet_name="Top 10")
top_10_donator

,Party,Name,Type,Address,PAN Given,Amount,Contribution Mode,Financial Year
3095,BJP,General Electoral Trust,Electoral Trust,--,N,"₹ 500,000,000.00","9, HDFC Bank",2014-15
3138,INC,General Electoral Trust,Electoral Trust,"B-4, Aditya Birla Centre S.K. Ahire Marg Worli...",N,"₹ 500,000,000.00","Cheque, HDFC Bank Aditya Birla Centre S.K. Ahi...",2014-15
9082,BJP,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan,1 Bahadur Shah Zafar Marg Ne...",Y,"₹ 240,720,000.00","115, HDFC Bank",2013-14
9083,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","125, HDFC Bank",2014-15
9085,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","149, HDFC Bank",2014-15
9084,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","147, HDFC Bank",2014-15
9099,INC,Satya Electoral Trust,Electoral Trust,"G-15 Hans Bhawan, 1-Bahadurshah Zafar Marg, Ne...",N,"₹ 180,000,000.00","Ch.No.000114, Dated.26.03.2014, HDFC Bank G-3-...",2013-14
9100,INC,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan 1, Bahadurshah Zafar Marg, ...",Y,"₹ 167,500,000.00","Cheque, HDFC Bank, G-3-4, Surya Kiran Building...",2014-15
9086,BJP,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan,1 Bahadur Shah Zafar Marg Ne...",Y,"₹ 153,000,000.00","107, HDFC Bank",2013-14
9087,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 150,000,000.00","151, HDFC Bank",2014-15

In [51]:
top_10_donator.drop(axis=1,columns="Amount_number",inplace=True)

In [56]:
top_10_donator.reset_index()

,index,Party,Name,Type,Address,PAN Given,Amount,Contribution Mode,Financial Year
0,3095,BJP,General Electoral Trust,Electoral Trust,--,N,"₹ 500,000,000.00","9, HDFC Bank",2014-15
1,3138,INC,General Electoral Trust,Electoral Trust,"B-4, Aditya Birla Centre S.K. Ahire Marg Worli...",N,"₹ 500,000,000.00","Cheque, HDFC Bank Aditya Birla Centre S.K. Ahi...",2014-15
2,9082,BJP,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan,1 Bahadur Shah Zafar Marg Ne...",Y,"₹ 240,720,000.00","115, HDFC Bank",2013-14
3,9083,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","125, HDFC Bank",2014-15
4,9085,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","149, HDFC Bank",2014-15
5,9084,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","147, HDFC Bank",2014-15
6,9099,INC,Satya Electoral Trust,Electoral Trust,"G-15 Hans Bhawan, 1-Bahadurshah Zafar Marg, Ne...",N,"₹ 180,000,000.00","Ch.No.000114, Dated.26.03.2014, HDFC Bank G-3-...",2013-14
7,9100,INC,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan 1, Bahadurshah Zafar Marg, ...",Y,"₹ 167,500,000.00","Cheque, HDFC Bank, G-3-4, Surya Kiran Building...",2014-15
8,9086,BJP,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan,1 Bahadur Shah Zafar Marg Ne...",Y,"₹ 153,000,000.00","107, HDFC Bank",2013-14
9,9087,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 150,000,000.00","151, HDFC Bank",2014-15

In [61]:
top_10_donator.reset_index().drop(columns="index",axis=1)

,Party,Name,Type,Address,PAN Given,Amount,Contribution Mode,Financial Year
0,BJP,General Electoral Trust,Electoral Trust,--,N,"₹ 500,000,000.00","9, HDFC Bank",2014-15
1,INC,General Electoral Trust,Electoral Trust,"B-4, Aditya Birla Centre S.K. Ahire Marg Worli...",N,"₹ 500,000,000.00","Cheque, HDFC Bank Aditya Birla Centre S.K. Ahi...",2014-15
2,BJP,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan,1 Bahadur Shah Zafar Marg Ne...",Y,"₹ 240,720,000.00","115, HDFC Bank",2013-14
3,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","125, HDFC Bank",2014-15
4,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","149, HDFC Bank",2014-15
5,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 200,000,000.00","147, HDFC Bank",2014-15
6,INC,Satya Electoral Trust,Electoral Trust,"G-15 Hans Bhawan, 1-Bahadurshah Zafar Marg, Ne...",N,"₹ 180,000,000.00","Ch.No.000114, Dated.26.03.2014, HDFC Bank G-3-...",2013-14
7,INC,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan 1, Bahadurshah Zafar Marg, ...",Y,"₹ 167,500,000.00","Cheque, HDFC Bank, G-3-4, Surya Kiran Building...",2014-15
8,BJP,Satya Electoral Trust,Electoral Trust,"G-15, Hans Bhawan,1 Bahadur Shah Zafar Marg Ne...",Y,"₹ 153,000,000.00","107, HDFC Bank",2013-14
9,BJP,Satya Electoral Trust,Electoral Trust,--,Y,"₹ 150,000,000.00","151, HDFC Bank",2014-15

In [5]:
pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list")[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534
...,...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [10]:
pd.read_html("https://datatables.net")

HTTPError: HTTP Error 403: Forbidden